/* 
                1. Selectors

1. Universal or WildCard Selector   ( * )
2. Element Selector                 (tag name)
3. Class Selector                   ( . ) 
4. ID Selector                      ( # )
5. Specific Class Selector          (tag.classname)
6. Group Selector                   -- Eg: h1,h2,.container,li,ul

************************************************************

                2. Combinators  

1. Decendent Selector                  (space) -- select all children
2. Child Selector                      ( > )   -- select specific children
3. Adjecent Sibling Selector           ( + )   -- next one select  
4. General Sibling Selector            ( ~ )   -- next all select 


************************************************************

                3. Pseudo-elements

1. ::first-line         Pesudo-elements  
2. ::first-letter       Pesudo-elements 
3. Multiple             Pesudo-elements   -- one tag to selecting first-line,first-letter
4. ::Before & ::after   Pesudo-elements   -- start and end select 
5. ::marker             Pesudo-elements   -- list dot select 
6. ::selection          Pesudo-elements   -- mark select Eg: google translate
7. ::placeholder        Pesudo-elements   -- you know

8  ::content
9  ::backdrop
10 ::grammar-error
11 ::spelling-error
12 ::target-text
13 ::cue()
14 ::cue-region()
15 ::part
16 ::shadow

12 ::view-transition
13 ::view-transition-group
14 ::view-transition-image-pair
15 ::view-transition-new
16 :view-transition-new
17 ::view-transition-old

************************************************************
                4.Pseudo-classes

1. Attribute selector tag [attributename]           select attributename 
2. Attribute selector tag [attributename="value"]   specific select 
3. Attribute selector tag [attributename~="value"]  space to select 
4. Attribute selector tag [attributename^="value"]  staring side select 
5. Attribute selector tag [attributename*="value"]  all side select 
6. Attribute selector tag [attributename$="value"]  ending side select 
7. Attribute selector tag [attributename|="value"]  ending (attributevalue- ) to select  

                 <---  input pseudo-classes  --->

8. :enabled & :disabled       -- select enable & disable " input " 

9. :checked & :not(:checked)  -- select checked & not(:checked) "radio,input"

10. :placeholder-shown & :not(placeholder-shown)  -- select placeholder show & not shown -->not type & type 

12. :focus                    -- select placeholder focus --> on click to focus  

13. :valid & :invalid         -- select  the input email valid & invalid  

14. :required & :optional     -- select required input & optional 

15. :read-only & :read-write  -- select readonly input & read-write 

16. :in-range & :out-of-range -- select input type="number" -> in-range & out-of-range --> using min & max 

17. :default                   -- select default value and only for radio checked, option selected, checkbox checked

                    <---  User Action pseudo-classes  --->

18. :link     -- select normal link
    :hover    -- select hover link
    :visited  -- select visited link    -- !important put link this order wise use
    :active   -- select active link 

19. :target   -- select target link to modification 


                    <--- Structural pseudo-classes --->

20. :first-child & :last-child   -- select first-child & last-child element 

21. :nth-child() & :nth-last-child() -- select " parent child "--> :nth-child(2) 
                                     -- select 2n, 3n, 4n, 5n (Or) 2+1, 2*3
                                     -- select even element & odd element
    :nth-last-child()                -- select " reverse side " to nth-last-child() 
                                     --- similar to use all but it is " reverse side select "                                     

22. :nth-of-type() & :nth-last-of-type() --select " parent child (or) without parent "
                                         -- select 2n, 3n, 4n, 5n (Or) 2+1, 2*3
                                         -- select even element & odd element
    :nth-last-of-type()                  -- select " reverse side " to nth-last-of-type() 
                                         -- similar to use all but it is " reverse side select "                                      
                                         
23. :only-child                      -- select "parent child "--> only one child 
    :only-of-type                    -- select " parent child (or) without parent  -->only one child"


24.:first-of-type & last-of-type -- select first child " parent or without parent "
    :last-of-type                -- similar select " reverse side "





                        --- Bending Pseudo classes ---

:any-link
:blank

:corner-present
:current

:decrement
:defined
:dir
:double-button
:empty

:end

:first
:focus-visible
:focus-within
:fullscreen
:future

:has
:horizontal
:host
:host()
:host-context()

:increment
:indeterminate
:is

:matches()

:lang()
:left
:local-link

:no-button
:not()

:past
:paused
:picture-in-picture
:playing

:right

:scope
:single-button
:start

:target-within

:user-invalid
:user-valid
:vertical

:where
:window-inactive

*/

/* ------------------------------------------------------------- *\
                            #1.Selectors 
\* ------------------------------------------------------------- */

/* 1. Unviersal Or  Wildcard Selector ( * )     */
*{
    margin:0;
    padding:0;
}


/* 2. Element Selector */
body{
    background-color:#25242a;
    color: white;
    line-height:4;
    font-size: 16px;
    margin-left:40px;
}
p{
    font-size:1.5rem;
}
h1{
    text-align: center;
    color: red;
}


/* 3. Class Selectors  ( . ) */
.para-one{
    color: lightblue;
}


/* 4. Id Selector     ( # ) */
#para-two{
    color: lightcoral;
}


/* 5. Specific Class Selector */

.para-three{
    color:orange;
}
/* specific class */
h2.para-three{
      color: lawngreen;
}


/*6. Grouping Selector*/

/* similar to --> element,id */
.group-para1,.group-para2,.group-para3{
    color:lightgray;
}

/* ------------------------------------------------------------- *\
                            #2.Combinators 
\* ------------------------------------------------------------- */


/* 1. Decendent Selector (space) */
div p b{
    color: green;
}


/* 2. Child Selector     ( > )*/
.child-container > p{
    color: yellow;
}


/* 3. Adjecent Sibling Selector  ( + ) */
.child-container + p{
    color: lightpink;
}


/* 4. General Sibling Selector   ( ~ ) */
.child-container ~ h3{
      color: lightsalmon;
}


/* ------------------------------------------------------------- *\
                            #3. Pseduo Element
\* ------------------------------------------------------------- */

/* 1. ::first-line 

 --block level element only change
following properties only working 
        font properties
        color properties
        background properties
        word-spacing
        letter-spacing
        vertical align
        text-transform
        line-height
        clear
*/
.pseudo-element::first-line{
    color: lightcoral;
    text-decoration: underline;
    
}


/* 2. ::first-letter

 --block level element only change
following properties only working 
        font properties
        color properties
        background properties
        margin properties
        padding properties
        border properties
        vertical align (only if "float" is "none")
        text-transform
        line-height
        float
        clear
*/
.para2::first-letter{
    color:red;
    border: 1px solid yellow ;

}


/* 3. Multiple Pseudo element */
.para3::first-line{
  text-decoration:underline;
  color: aqua;
}

.para3::first-letter{
    font-size: 40px;
    color: yellow;
}


/* 4. ::before & ::after */
.para4::before{
  content:"4. ::before ";
  color: yellow;
}
.para4::after{
    content: " ::after";
    color: blueviolet;
}

.para5 span::before{
    content: "$";
    color: red;
}


/* 5. ::marker  */
.Unorder-list li::marker{
    color: red;
    font-size:20px;
}
/* using symble */
.Order-list li::marker{
    content: "😊 ";
    font-weight: bold;

}
/* using h3 convert to list  */
.list {
    display: list-item;
    counter-increment: mylist;
}
.list::marker{
    content: counter(mylist) ". " ;
    color: blue;
}


/* 6. ::selection Pseudo element */
.para7{
    line-height:2;
    width:80vw;
}
.para7::selection{
    background-color:lightblue;
    color:red;
}


/* 7. ::placeholder selector */
.para8{
    color: yellow;
}

.para8-container input{
    color:blue;
    font-size:15px;
    padding: 10px;
    background-color: lightblue;
}
/* ::placeholder */
.para8-container input::placeholder{
   color:white;
    text-align: center;
    background-color: black;
  
}


/* ------------------------------------------------------------- *\
                            #3. Pseduo classes
\* ------------------------------------------------------------- */


/* 1. Attribute selector tag [Attribute name] */
.para9{
    line-height:2;
    width:500px; 
}
.para-title{
    color: yellow;
}

/* select attribute name  */
a[target]{
    color: red;
}


/* 2.Attribute selector tag [Attribute name = "value"] */
a[class="parent"]{
    color:blue;
}

input[value="email"]{
    background-color: lightgreen;
    padding: 10px;
}


/* 3. Attribute selector tag [attributename~="value"] */

/* it is exact match  */
p[class="title"]{
    color:red ;
}

/* Using ( ~ ) select all "space" title */
p[class~="title"]{
    color: blue;
}


/* 4. Attribute selector tag [attributename^="value"] */

/* Starting side only selecting-value */
p[class^="starting"]{
    color:red;
}


/* 5. Attribute selector tag [attributename*="value"]  */

/*all side selecting-value right, left, center   */
p[class*="hello"]{
    color: blue;
}


/* 6. Attribute selector tag [attributename$="value"] */

/* Ending side only selecting-value */
p[class$="ending"]{
color: red;
}

/* 7. Attribute selector tag [attributename|="value"]  */

/* ending attributevalue- only selecting */
p[class|="text"]{
    color: blue;
}

/* ------------------------------------------------------------- *\
                            Input Pseduo classes
\* ------------------------------------------------------------- */


/* 8. :enabled & :disabled*/

/* select enable $ disable " inupt " */
.classEnable input:enabled{
    background-color: red;
}

input:disabled{
    background-color: blue;
}


/* 9. :checked & not(:checked) */


/* select :checked & not(:checked) " inupt " */

input[type="radio"]:checked +label{
color: red;
font-size:25px;
}

input[type="radio"]:not(:checked) +label{
color: blue;
}


/* 10. :placeholder-shown */

.aboutbox{
    resize: none;
    color:green;
    outline: none;
}
.aboutbox:placeholder-shown{
    color: red;
    border:2px solid;
    padding: 10px;
}

.aboutbox:not(:placeholder-shown){
    border: 2px solid;
    color: green;
    padding: 20px;
}


/* 12. :focus */

.inputfocus:focus{
    padding: 10px;
    background-color: rebeccapurple;
    color: white;
} 


/* 13. :valid  & invalid */
.validation{
    outline: none;
    padding: 10px;
}
.validation:valid{
    border: 2px solid green;
}
.validation:invalid{
    border: 2px solid red;
}


/*14. :required & :optional */

.required__input:required{
    padding: 10px;
    background-color:blue;
    color: white;
}
.optional__input:optional{
    padding: 10px;  
    background-color:red;
    color: white;
}

/* 15. :read-only & :read-write  */

.read__only:read-only{
    background-color: lightskyblue;
    padding: 10px;
  
}

.read__write:read-write{
    padding: 10px;
    background-color: springgreen;
}


/* 16. :in-range & :out-of-range  */

input[type="number"]{
    padding: 10px;
    width: 40px;
    font-size: 20px;
}

input:in-range{
    color: green;
}

input:out-of-range{
    color: red;
}


/* 17. :default */

.default__inputs > input:default+label{
    color: green;  
}


select,input{
    padding: 10px; 
    font-size: 20px;
}
option[value="opt"]:default{
    color: red;
}

/* ------------------------------------------------------------- *\
                            User Action pseudo-classes
\* ------------------------------------------------------------- */

/* 18. :link, :hover, :visited, :active */


/* :link */
.checking-link:link{
    color:lightblue; 
}

.checking-link:visited{
    color: springgreen;
}

.checking-link:hover{
    color: yellow;
} 
.checking-link:active{
    color: red;
}


/* 19. :target */
p:target{
 color: yellow;
}


/* ------------------------------------------------------------- *\
                            Structural pseudo-classes
\* ------------------------------------------------------------- */

/* 20. :first-child & :last-child  */


.structural-unorder-list > :first-child{
    color: red;
}
.structural-unorder-list > :last-child{
    color: blue;
}



/* 21. :nth-child() & :nth-last-child()  */

.structural-order-list >:nth-child(3){
 color:red;
}

/* select 2n, 3n, 4n, 5n */
.structural-order-list2 >:nth-child(2n){
 color:springgreen;
}

/*select odd & even  */
.structural-order-list3 >:nth-child(odd){
 color:orange;
}

/* :nth-last-child() */
.structural-order-list4 >:nth-last-child(3){
    color: red;
}



/* 22. :nth-of-type() & :nth-last-of-type() */

.structural-para-container :nth-of-type(1){
    background-color:skyblue;
    color: white;
    border: 1px solid white;
} 

/* nth-last-of-type() */
.structural-para-container2 :nth-last-of-type(1){
    background-color: springgreen;
    color: white;
    border: 1px solid white;
} 



/* 23. :only-child & :only-of-type */
 .structural-list-container ol :only-child{
    color: red;
 }

/* :only-of-type */
 .structural-list-container2 ol :only-of-type{
    color: blue;
 }  



 /* 24. :first-of-type $ :last-of-type */

 /* first-child */
.structural-container3 > p:first-child{
    color:red;
}

/* first-of-type */
.structural-container4  p:first-of-type{
    color:springgreen;
}

/*last-of-type  */
.structural-container5  p:last-of-type{
    color:hotpink;
}

